.homepage{
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.65)), url('../../public/media/homepage.png'); 
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    
    min-height: 450px;               
}


.card-w {
    width: 100%;       
    max-width: 350px; 
    margin-left: auto;  
    margin-right: auto; 
}


.card-w .card-img-top {
    height: 200px;
    object-fit: cover;  
}

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
}